*{
	font-family: Verdana;
}
.heading{
	font-size: 25px;
	text-align:center;
}
/*Navigation bar*/
	.nbar{
		text-align:center;
		margin-left: auto;
		margin-right: auto;
	}
	table{
		margin-right:auto;
		margin-left: auto;
		margin-top:30px;
	}
	a{
		font-size: 17px;
		height: 30px;
		opacity: 0.75;
		width: 100px;
		background-color: #3333FF;
		border-radius: 6px;
		color: #FFFFFF;
		text-decoration: none;
		text-align:center;
		margin-right: 5px;
		margin-left: 5px;
		padding: 10px;
	}
/*Grid system*/
	.wrapper{
		height:960px;
		width:960px;
		margin-left:auto;
		margin-top: 40px;
		margin-right:auto;
		display:block;
	}
	.square{
		display:inline-block;
		background-color: #3399FF;
		border-color: #000000;
		border-left-width: 2px;
		border-right-width: 2px;
		border-bottom-width: 2px;
		border-top-width: 2px;
		margin: 0px;
	}
/*Footer*/
	.footer{
		font-size:15px;
		color: #00000F;
		text-align:center;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	i{
		color: #909090;
	}







